<footer>
  <div class="footer-menus">
    <div class="contact-us">
      <p class="menu-title">联系我们</p>
      <p>地址：中国xx省xx市xx路xx商务中心10号楼</p>
      <p>电话：+17575757575</p>
      <p>传真：+17575757575</p>
      <p>电子邮箱：1084491297@qq.com</p>
    </div>
    <div class="service-menu footer-menu">
      <p class="menu-title">服务概览</p>
      <ul class="menu-items">
        <li><a href="">网站建设</a></li>
        <li><a href="">域名购买</a></li>
        <li><a href="">网页设计</a></li>
        <li><a href="">移动应用</a></li>
      </ul>
    </div>
    <div class="service-menu footer-menu">
      <p class="menu-title">JAVA</p>
      <ul class="menu-items">
        <li><a href="">网站建设</a></li>
        <li><a href="">域名购买</a></li>
        <li><a href="">网页设计</a></li>
        <li><a href="">移动应用</a></li>
      </ul>
    </div>
    <div class="service-menu footer-menu">
      <p class="menu-title">web前端</p>
      <ul class="menu-items">
        <li><a href="">网站建设</a></li>
        <li><a href="">域名购买</a></li>
        <li><a href="">网页设计</a></li>
        <li><a href="">移动应用</a></li>
      </ul>
    </div>
    <div class="service-menu footer-menu">
      <p class="menu-title">APP开发</p>
      <ul class="menu-items">
        <li><a href="">网站建设</a></li>
        <li><a href="">域名购买</a></li>
        <li><a href="">网页设计</a></li>
        <li><a href="">移动应用</a></li>
      </ul>
    </div>
    <p class="icp-info">
      京ICP备 12345678901-1号
    </p>
    <p class="rights">&copy;2020 XX科技 - 响应式网络公司官网 版权所有</p>
    <div class="scrollToTop">
      <a href="#home"><i class="fas fa-chevron-up"></i></a>
    </div>
  </div>
</footer>